<!DOCTYPE html>
<html>
<head>
  <title>Collagifier</title>
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}styles/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}styles/font-awesome.min.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}styles/animate-custom.css" />
  <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}styles/stylesheet.css" />  
  <script src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/modules.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>
