.header {
  padding-left: 20px;
}
.header h1 {
  border-bottom: solid 3px #ABD;
  border-left: solid 2px #CDE;
  padding: 10px;
}
.header a {
  margin-right: 30px; 
}

.container {
  width: 95%;
  padding-top: 30px; 
}
span.drag-icon {
  padding: 200px 5px;
  display: inline-block;
}

/*ICONS*/
i {
  font-size: 25px;  
  display: inline-block !important;
}
i.icon-hand-right {
  font-size: 60px;
}
i.icon-plus-sign {
  padding-top: 20px;
}

/*GLOBAL*/
.gone {
  display: none !important;
}
.scrollable {
  overflow: auto;  
  overflow-x: hidden;
}
div.submit {
  border-top: solid 2px #777;
  padding-top: 10px;
  height: 25px;
}
h4.inline {
  display: inline-block;
}
.inline-section {
  display: inline-block;
  width: 500px;
}

/*LISTS*/
ul {
  list-style-type: none;
  margin-left: 0px;
}
ul li {
  float: left;
  padding: 20px;
}

/*SECTION STYLES*/
section {   
  height: 400px;
  border: dashed 2px #ccc;
  padding: 0px 0px 30px 0px;
}

section.collage {
  width: 600px;  
  text-align: center;
}
section.collage div.name {
  padding: 30px 0px;
  border-bottom: solid 2px #555;
  margin-bottom: 20px;
  height: 25px;
}
section.collage div.name h4 {
  display: inline;
  padding-right: 30px;
}
section.collage .postcards-container {  
  height: 250px;
}
section.collage .postcard {
  border: solid 1px #ccc;
  display: inline-block;
  margin: 0px 0px 15px 0px;
  overflow: hidden;
  background: url('../images/plus.png') no-repeat center;
  background-size: 30px 30px;
}

section.images div.submit {
  padding: 0px 0px 5px 15px;
}
section.images div.submit h4 {
  padding-right: 10px;
}
section.images img, section.collage img {
  cursor: pointer;  
}
section.images .images-container {
  margin-bottom: 10px;
  height: 370px;
}

section.collages-list {
  border: none;
  padding: 20px;
  display: block;
  width: 80%;
  margin: auto;
}
section.collages-list .list-holder {
  margin: auto;
  text-align: center;
}
section.collages-list .list-holder ul li {
  float: none;
  border-bottom: solid 2px #444;
  padding: 10px;  
}
section.collages-list .list-holder ul li a {
  width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

section.collage-details {
   border: none;
   width: 60%;
   margin: auto;
 }
section.collage-details .fb-share {
  float: right;
}
section.collage-details h2 {  
  text-align: center;
  margin-top: 30px;
  border-bottom: solid 20px #CD4;
}
section.collage-details li {
  padding: 10px;
  float: none;
  display: inline-block;
}
section.collage-details .collage-details-postcards {
  width: 40%;
  margin: auto;
}

